@model AccountBalance

@{
    ViewBag.Title = "Expense Add";
}


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.AccountOf, "AccountOf")
        </div>
        <div class="editor-field">
            @Html.DropDownList("AccountOf", String.Empty)
            @Html.ValidationMessageFor(model => model.AccountOf)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryProduct, "CategoryProduct")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CategoryProduct", String.Empty)
            @Html.ValidationMessageFor(model => model.CategoryProduct)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Amount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Amount)
            @Html.ValidationMessageFor(model => model.Amount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Note)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Note)
            @Html.ValidationMessageFor(model => model.Note)
        </div>
    
        
        <div>
            <label>Added by @@@User.Identity.Name.</label>

        </div>

        <p>
            <input type="submit" value="Create" data-role="button" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back", "Index", "Home", null, new {data_role = "button"})
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}